<app-menu></app-menu>
<app-loading></app-loading>

<!-- TABLA COLORES -->
<section id="wrap-colores">
  <section id="wrap-header">
    <h3 style="font-weight: bold; margin-bottom: 50px">Colores del pedido</h3>
  </section>

  <section id="wrap-tabla" class="card shaddow rounded">
    <!-- toolbar -->
    <p-toolbar
      [style]="{
        'background-color': 'white',
        border: 'none',
        'margin-bottom': '25px'
      }"
    >
      <ng-template pTemplate="left">
        <button
          pButton
          pRipple
          label="Nuevo"
          icon="pi pi-plus"
          class="p-button-success btnHeader"
          (click)="showDialog('crear')"
          style="height: 45px"
          id="btnNuevo"
        ></button>
      </ng-template>
    </p-toolbar>

    <!-- tabla -->
    <p-table
      [value]="colores"
      [rows]="10"
      [paginator]="true"
      selectionMode="single"
      responsiveLayout="scroll"
      [showCurrentPageReport]="true"
      [autoLayout]="true"
      styleClass="p-datatable-striped"
      currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} Colores"
      [rowsPerPageOptions]="[10, 25, 50]"
      [resizableColumns]="true"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Color</th>
          <th>Estado</th>
          <th>Controles</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-color let-i="rowIndex">
        <tr>
          <td>{{ i + 1 }}</td>
          <td>{{ color.nombre }}</td>
          <td>
            <div
              [style]="{
                backgroundColor: color.color,
                width: '35px',
                height: '35px',
                borderRadius: '100%',
                border: '1px solid #e0e0e0'
              }"
            ></div>
          </td>
          <td>
            <span
              [ngClass]="{ 'badge-activo': color.estado }"
              *ngIf="color.estado"
              >Activo</span
            >
            <span
              [ngClass]="{ 'badge-inactivo': !color.estado }"
              *ngIf="!color.estado"
              >Inactivo</span
            >
          </td>
          <td>
            <button
              pButton
              pRipple
              icon="pi pi-pencil"
              class="p-button-rounded p-button-primary"
              style="margin-right: 7px"
              (click)="showDialog('editar', color)"
            ></button>
            <button
              pButton
              pRipple
              icon="pi pi-trash"
              class="p-button-rounded p-button-danger"
              (click)="eliminarColor(color)"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </section>
</section>

<!-- DIALOG CREAR -->
<form [formGroup]="forma">
  <p-dialog
    header="Nuevo color"
    [(visible)]="displayDialogCrear"
    [modal]="true"
    [draggable]="true"
    [resizable]="false"
    [style]="{ width: '500px', height: '400px' }"
    [breakpoints]="{ '530px': '95%' }"
  >
    <section id="wrap-form-colores">
      <!-- Nombre -->
      <div class="field flex-column" [style]="{ width: '100%' }">
        <span class="p-float-label">
          <input
            id="float-input"
            formControlName="nombre"
            type="text"
            pInputText
          />
          <label for="float-input">Nombre</label>
        </span>
        <small
          *ngIf="!validarNombre.valido && forma.controls.nombre.touched"
          class="p-error"
          style="word-wrap: break-word"
          >{{ validarNombre.mensaje }}</small
        >
      </div>

      <!-- color picker -->
      <div class="field flex-column">
        <label for="">Seleccione color</label>
        <p-colorPicker formControlName="color"></p-colorPicker>
      </div>

      <!-- Estado -->
      <div class="field flex-column">
        <p-inputSwitch formControlName="estado" name="estado"></p-inputSwitch>
      </div>
    </section>

    <ng-template pTemplate="footer">
      <button
        pButton
        pRipple
        label="Cancelar"
        icon="pi pi-times"
        class="p-button-text"
        (click)="closeDialog()"
      ></button>
      <button
        pButton
        pRipple
        label="Guardar"
        icon="pi pi-check"
        class="p-button-text"
        (click)="btnGuardar('crear')"
      ></button>
    </ng-template>
  </p-dialog>
</form>

<!-- DIALOG EDITAR -->
<form [formGroup]="forma">
  <p-dialog
    header="Editar color"
    [(visible)]="displayDialogEditar"
    [modal]="true"
    [draggable]="true"
    [resizable]="false"
    [style]="{ width: '500px', height: '400px' }"
    [breakpoints]="{ '530px': '95%' }"
  >
    <section id="wrap-form-colores">
      <!-- Nombre -->
      <div class="field flex-column" [style]="{ width: '100%' }">
        <span class="p-float-label">
          <input
            id="float-input"
            formControlName="nombre"
            type="text"
            pInputText
          />
          <label for="float-input">Nombre</label>
        </span>
        <small
          *ngIf="!validarNombre.valido && forma.controls.nombre.touched"
          class="p-error"
          style="word-wrap: break-word"
          >{{ validarNombre.mensaje }}</small
        >
      </div>

      <!-- color picker -->
      <div class="field flex-column">
        <label for="">Seleccione color</label>
        <p-colorPicker formControlName="color"></p-colorPicker>
      </div>

      <!-- Estado -->
      <div class="field flex-column">
        <p-inputSwitch formControlName="estado" name="estado"></p-inputSwitch>
      </div>
    </section>

    <ng-template pTemplate="footer">
      <button
        pButton
        pRipple
        label="Cancelar"
        icon="pi pi-times"
        class="p-button-text"
        (click)="closeDialog()"
      ></button>
      <button
        pButton
        pRipple
        label="Guardar"
        icon="pi pi-check"
        class="p-button-text"
        (click)="btnGuardar('editar')"
      ></button>
    </ng-template>
  </p-dialog>
</form>
