<!-- <app-loading></app-loading> -->

<!-- FORM INFORMACION -->
<form id="formulario" [formGroup]="formaInfo">
  <!-- INFORMACION DEL CLIENTE -->
  <p-fieldset
    legend="Información del cliente"
    [style]="{ marginBottom: '50px' }"
  >
    <div id="wrap-info-cliente" class="wrap-info">
      <!-- nombre cliente -->
      <div
        class="p-inputgroup"
        *ngIf="usuario?.role?.restricciones?.pedido?.informacion?.verCliente"
      >
        <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
        <input
          type="text"
          value="{{ pedido?.idReferencia }} - {{
            pedido?.cliente?.nombre || 'Cliente no existe'
          }}"
          [disabled]="true"
          pInputText
          placeholder="Nombre"
        />
      </div>

      <!-- telefono cliente -->
      <div
        class="p-inputgroup"
        *ngIf="usuario?.role?.restricciones?.pedido?.informacion?.verTelefono"
      >
        <span class="p-inputgroup-addon"><i class="pi pi-phone"></i></span>
        <input
          type="text"
          [value]="pedido?.cliente?.telefono || 'Teléfono no existe'"
          [disabled]="true"
          pInputText
          placeholder="Teléfono"
        />
      </div>

      <!-- correo cliente -->
      <div
        class="p-inputgroup"
        *ngIf="usuario?.role?.restricciones?.pedido?.informacion?.verCorreo"
      >
        <span class="p-inputgroup-addon"><i class="pi pi-at"></i></span>
        <input
          type="text"
          [value]="pedido?.cliente?.correo || 'Correo no existe'"
          [disabled]="true"
          pInputText
          placeholder="Correo"
        />
      </div>

      <!-- Editar cliente -->
      <button
        pButton
        pRipple
        icon="pi pi-user-edit"
        class="p-button-primary"
        (click)="showDialog()"
        [style]="{ height: '45px' }"
        [disabled]="!pedido?.cliente"
        [ngClass]="{ 'cursor-pointer': !pedido?.cliente }"
        *ngIf="usuario?.role?.restricciones?.pedido?.informacion?.editarCliente"
      ></button>
    </div>
  </p-fieldset>

  <!-- INFORMACION DEL PEDIDO -->
  <p-fieldset legend="Información del pedido">
    <div id="wrap-info-pedido" class="wrap-info">
      <!-- fecha registro -->
      <span class="p-float-label">
        <input
          id="float-input"
          type="text"
          formControlName="fechaRegistro"
          pInputText
        />
        <label for="float-input">Fecha registro</label>
      </span>

      <!-- fecha entrega -->
      <span class="p-float-label" style="width: 100%">
        <p-calendar
          [style]="{ width: '100%' }"
          showButtonBar="true"
          dateFormat="d/mm/yy"
          placeholder=" "
          formControlName="fechaEntrega"
          [class]="{
            'ng-invalid':
              !validarFechaEntrega.valido &&
              formaInfo.controls.fechaEntrega.touched
          }"
        ></p-calendar>
        <label for="float-input">Fecha entrega</label>
      </span>

      <!-- prioridad -->
      <span class="p-float-label">
        <p-dropdown
          [style]="{ width: '100%', height: '100%' }"
          [options]="prioridades"
          optionLabel="nombre"
          [showClear]="true"
          placeholder=" "
          [class]="{
            'ng-invalid':
              !validarPrioridad.valido && formaInfo.controls.prioridad.touched
          }"
          formControlName="prioridad"
        >
        </p-dropdown>

        <label for="float-input">Prioridad</label>
      </span>

      <!-- etapa -->
      <span class="p-float-label">
        <p-dropdown
          [style]="{ width: '100%', height: '100%' }"
          [options]="etapas"
          optionLabel="nombre"
          [showClear]="true"
          placeholder=" "
          [class]="{
            'ng-invalid':
              !validarEtapas.valido && formaInfo.controls.etapa.touched
          }"
          (onChange)="filtrarEtapas()"
          formControlName="etapa"
        >
        </p-dropdown>
        <label for="float-input">Etapa</label>
      </span>

      <!-- diseñador -->
      <div class="p-inputgroup" style="width: 100%">
        <button
          type="button"
          (click)="mostrarDistribucion()"
          pButton
          pRipple
          icon="pi pi-eye"
          [disabled]="
            !usuario?.role?.restricciones?.pedido?.informacion?.diseniador
              ?.verDistribucion
          "
        ></button>

        <p-dropdown
          [style]="{
            width: '100%',
            height: '100%',
            borderTopLeftRadius: '0',
            borderTopBottomRadius: '0'
          }"
          [options]="diseniadores"
          optionLabel="nombre"
          [showClear]="true"
          placeholder="Diseñador"
          formControlName="diseniador"
        >
        </p-dropdown>
      </div>

      <!-- colores -->
      <span class="p-float-label">
        <p-dropdown
          [style]="{ width: '100%', height: '50px' }"
          [options]="colores"
          optionLabel="nombre"
          [showClear]="true"
          placeholder=" "
          formControlName="color"
          (onChange)="filtrarEstados()"
        >
        </p-dropdown>
        <label for="float-input">Estado</label>
      </span>

      <!-- origen -->
      <span class="p-float-label">
        <p-dropdown
          [style]="{ width: '100%', height: '50px' }"
          [options]="origenes"
          optionLabel="nombre"
          [showClear]="true"
          placeholder=" "
          formControlName="origen"
        >
        </p-dropdown>
        <label for="float-input">Origen</label>
      </span>

      <!-- vendedor -->
      <span class="p-float-label">
        <p-dropdown
          [style]="{ width: '100%', height: '50px' }"
          [options]="vendedores"
          optionLabel="nombre"
          [showClear]="true"
          placeholder=" "
          [class]="{
            'ng-invalid':
              !validarVendedor.valido && formaInfo.controls.vendedor.touched
          }"
          formControlName="vendedor"
        >
        </p-dropdown>
        <label for="float-input">Vendedor</label>
      </span>

      <!-- sucursal -->
      <span class="p-float-label">
        <p-dropdown
          [style]="{ width: '100%', height: '100%' }"
          [options]="sucursales"
          optionLabel="nombre"
          [showClear]="true"
          placeholder=" "
          formControlName="sucursal"
        >
        </p-dropdown>
        <label for="float-input">Sucursal</label>
      </span>
    </div>
  </p-fieldset>

  <div id="btn-footer">
    <!-- <button
      pButton
      pRipple
      label="Historial cambios"
      icon="pi pi-history"
      class="p-button-text p-button-help"
      (click)="obtenerHistorial()"
    ></button> -->
    <p-splitButton
      label="Acciones"
      icon="pi pi-check"
      [model]="items"
      styleClass="p-button-text mr-2 mb-2"
    ></p-splitButton>
    <!-- <button
      pButton
      pRipple
      label="Guardar cambios"
      icon="pi pi-check"
      class="p-button-text"
      (click)="btnGuardarInfo()"
    ></button> -->
  </div>
</form>

<!-- DIALOG EDITAR -->
<form [formGroup]="formaEditar">
  <p-dialog
    header="Editar cliente"
    [(visible)]="displayDialogEditar"
    [modal]="true"
    [draggable]="false"
    [resizable]="false"
    [style]="{ width: '500px' }"
    [breakpoints]="{ '530px': '95%' }"
  >
    <section id="wrap-form-cliente">
      <!-- Sucursales -->
      <div class="field flex-column">
        <p-dropdown
          [style]="{ width: '100%' }"
          [options]="sucursales"
          optionLabel="nombre"
          formControlName="sucursales"
          [showClear]="true"
          placeholder="Sucursal"
        >
          ></p-dropdown
        >
        <small *ngIf="!validarSucursal.valido" class="p-error"
          >Seleccione una sucursal
        </small>
      </div>

      <!-- Nombre -->
      <div class="field flex-column" [style]="{ width: '100%' }">
        <span class="p-float-label">
          <input
            id="float-input"
            formControlName="nombre"
            type="text"
            pInputText
          />
          <label for="float-input">Nombre cliente</label>
        </span>
        <small
          *ngIf="!validarNombre.valido && formaEditar.controls.nombre.touched"
          class="p-error"
          style="word-wrap: break-word"
          >{{ validarNombre.mensaje }}</small
        >
      </div>

      <!-- Cedula -->
      <div class="field flex-column" [style]="{ width: '100%' }">
        <span class="p-float-label">
          <input
            id="float-input"
            formControlName="cedula"
            type="text"
            pInputText
          />
          <label for="float-input">Cedula</label>
        </span>
        <small
          *ngIf="!validarCedula.valido && formaEditar.controls.cedula.touched"
          class="p-error"
          style="word-wrap: break-word"
          >{{ validarCedula.mensaje }}</small
        >
      </div>

      <!-- Ruc -->
      <div class="field flex-column" [style]="{ width: '100%' }">
        <span class="p-float-label">
          <input
            id="float-input"
            formControlName="ruc"
            type="text"
            pInputText
          />
          <label for="float-input">Ruc</label>
        </span>
        <small
          *ngIf="!validarRuc.valido && formaEditar.controls.ruc.touched"
          class="p-error"
          style="word-wrap: break-word"
          >{{ validarRuc.mensaje }}</small
        >
      </div>

      <!-- Telefono -->
      <div class="field flex-column" [style]="{ width: '100%' }">
        <span class="p-float-label">
          <input
            id="float-input"
            formControlName="telefono"
            type="text"
            pInputText
          />
          <label for="float-input">Teléfono(507)</label>
        </span>
        <small
          *ngIf="
            !validarTelefono.valido && formaEditar.controls.telefono.touched
          "
          class="p-error"
          style="word-wrap: break-word"
          >{{ validarTelefono.mensaje }}</small
        >
      </div>

      <!-- Correo -->
      <div class="field flex-column" [style]="{ width: '100%' }">
        <span class="p-float-label">
          <input
            id="float-input"
            formControlName="correo"
            type="text"
            pInputText
          />
          <label for="float-input">Correo</label>
        </span>
        <small
          *ngIf="!validarCorreo.valido && formaEditar.controls.correo.touched"
          class="p-error"
          style="word-wrap: break-word"
          >{{ validarCorreo.mensaje }}</small
        >
      </div>

      <!-- Observacion -->
      <div
        class="field flex-column"
        [style]="{
          width: '100%',
          'grid-column': '1 / 3'
        }"
      >
        <span class="p-float-label">
          <input
            id="float-input"
            formControlName="observacion"
            type="text"
            pInputText
            style="width: 100%"
          />
          <label for="float-input">Observacion</label>
        </span>
        <small
          *ngIf="
            !validarObservacion.valido &&
            formaEditar.controls.observacion.touched
          "
          class="p-error"
          style="word-wrap: break-word"
          >{{ validarObservacion.mensaje }}</small
        >
      </div>
    </section>

    <!-- Estado -->
    <p-inputSwitch formControlName="estado" name="estado"></p-inputSwitch>

    <ng-template pTemplate="footer">
      <button
        pButton
        pRipple
        label="Cancelar"
        icon="pi pi-times"
        class="p-button-text"
        (click)="closeDialog()"
      ></button>
      <button
        pButton
        pRipple
        label="Guardar"
        icon="pi pi-check"
        class="p-button-text"
        (click)="btnGuardar('editar')"
      ></button>
    </ng-template>
  </p-dialog>
</form>

<!-- DIALOG DISTRIBUCION -->
<p-dialog
  header="Diseñadores"
  [(visible)]="displayDialogDist"
  [modal]="true"
  [draggable]="true"
  [resizable]="false"
  [breakpoints]="{ '530px': '95%' }"
>
  <!-- tabla -->
  <p-table
    [value]="distribucion"
    [rows]="10"
    [paginator]="true"
    selectionMode="single"
    responsiveLayout="scroll"
    [showCurrentPageReport]="true"
    [autoLayout]="true"
    styleClass="p-datatable-striped"
    currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} Diseñadores"
    [resizableColumns]="true"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Teléfono</th>
        <th>Pedidos asignados</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-dist let-i="rowIndex">
      <tr>
        <td>{{ dist?.nombre }}</td>
        <td>{{ dist?.apellido }}</td>
        <td>{{ dist?.telefono || "Sin teléfono" }}</td>
        <td>{{ dist?.pedidos?.pedidos || 0 }}</td>
      </tr>
    </ng-template>
  </p-table>
</p-dialog>

<!-- DIALOG HISTORIAL -->
<p-dialog
  header="Historial"
  [(visible)]="displayDialogHist"
  [modal]="true"
  [draggable]="true"
  [resizable]="false"
  [breakpoints]="{ '530px': '95%' }"
  [style]="{ maxWidth: '700px' }"
>
  <!-- tabla -->
  <p-table
    [value]="historiales"
    [rows]="10"
    [paginator]="true"
    selectionMode="single"
    responsiveLayout="scroll"
    [showCurrentPageReport]="true"
    [autoLayout]="true"
    styleClass="p-datatable-striped"
    currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} Historiales"
    [resizableColumns]="true"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Nombre</th>
        <th>Prioridad Orig.</th>
        <th>Prioridad Act.</th>
        <th>Etapa Orig.</th>
        <th>Etapa Act.</th>
        <th>Estado Orig.</th>
        <th>Estado Act.</th>
        <th>Vendedor Act.</th>
        <th>Vendedor Orig.</th>
        <th>Diseñador Act.</th>
        <th>Diseñador Orig.</th>
        <th>Fecha</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-historial let-i="rowIndex">
      <tr>
        <td>{{ historial?.usuario?.nombre }}</td>
        <td>{{ historial?.priorOrg?.nombre }}</td>
        <td>{{ historial?.priorAct?.nombre }}</td>
        <td>{{ historial?.etapaOrg?.nombre }}</td>
        <td>{{ historial?.etapaAct?.nombre }}</td>
        <td>{{ historial?.estadoOrg?.nombre || "Sin estado" }}</td>
        <td>{{ historial?.estadoAct?.nombre || "Sin estado" }}</td>
        <td>{{ historial?.vendedorAct?.nombre }}</td>
        <td>{{ historial?.vendedorOrg?.nombre }}</td>
        <td>{{ historial?.diseniadorAct?.nombre }}</td>
        <td>{{ historial?.diseniadorOrg?.nombre }}</td>
        <td>{{ historial?.fecha }}</td>
      </tr>
    </ng-template>
  </p-table>
</p-dialog>
