<app-loading></app-loading>
<app-menu></app-menu>

<!-- TABLA CLIENTES -->
<section id="wrap-clientes">
  <section id="wrap-header">
    <h3 style="font-weight: bold; margin-bottom: 50px">Clientes</h3>
  </section>

  <section id="wrap-tabla" class="card shaddow rounded">
    <!-- toolbar -->
    <p-toolbar
      [style]="{
        'background-color': 'white',
        border: 'none',
        'margin-bottom': '25px'
      }"
    >
      <ng-template pTemplate="left">
        <button
          pButton
          pRipple
          label="Nuevo"
          icon="pi pi-plus"
          class="p-button-success btnHeader"
          (click)="showDialog('crear')"
          style="height: 45px"
          id="btnNuevo"
        ></button>
      </ng-template>
    </p-toolbar>

    <!-- tabla -->
    <p-table
      #dt
      [value]="clientes"
      [rows]="10"
      [paginator]="true"
      selectionMode="single"
      responsiveLayout="scroll"
      [showCurrentPageReport]="true"
      [autoLayout]="true"
      styleClass="p-datatable-striped"
      currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} Clientes"
      [rowsPerPageOptions]="[10, 25, 50]"
      [resizableColumns]="true"
      [globalFilterFields]="['nombre', 'telefono']"
    >
      <ng-template pTemplate="caption">
        <div
          style="display: flex; justify-content: flex-end; flex-direction: row"
        >
          <span class="p-input-icon-left ml-auto">
            <i class="pi pi-search"></i>
            <input
              pInputText
              type="text"
              (input)="dt.filterGlobal($event.target.value, 'contains')"
              placeholder="Nombre/Teléfono"
            />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Teléfono</th>
          <th>Correo</th>
          <th>Estado</th>
          <th>Controles</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-cliente let-i="rowIndex">
        <tr>
          <td>{{ i + 1 }}</td>
          <td>{{ cliente?.nombre }}</td>
          <td>{{ cliente?.telefono }}</td>
          <td>{{ cliente?.correo }}</td>
          <td>
            <span
              [ngClass]="{ 'badge-activo': cliente?.estado }"
              *ngIf="cliente?.estado"
              >Activo</span
            >
            <span
              [ngClass]="{ 'badge-inactivo': !cliente?.estado }"
              *ngIf="!cliente?.estado"
              >Inactivo</span
            >
          </td>
          <td>
            <button
              pButton
              pRipple
              icon="pi pi-pencil"
              class="p-button-rounded p-button-primary"
              style="margin-right: 7px"
              (click)="showDialog('editar', cliente)"
            ></button>
            <button
              pButton
              pRipple
              icon="pi pi-trash"
              class="p-button-rounded p-button-danger"
              (click)="eliminarCliente(cliente)"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </section>
</section>

<!-- DIALOG CREAR -->
<form [formGroup]="forma">
  <p-dialog
    header="Nuevo cliente"
    [(visible)]="displayDialogCrear"
    [modal]="true"
    [draggable]="true"
    [resizable]="false"
    [style]="{ width: '500px' }"
    [breakpoints]="{ '530px': '95%' }"
    (onHide)="closeDialog()"
  >
    <section id="wrap-form-cliente">
      <!-- Sucursales -->
      <div class="field flex-column">
        <p-dropdown
          [style]="{ width: '100%' }"
          [options]="sucursales"
          optionLabel="nombre"
          formControlName="sucursales"
          [showClear]="true"
          placeholder="Sucursal"
        >
        </p-dropdown>
        <small
          *ngIf="!validarSucursal.valido && forma.controls.sucursales.touched"
          class="p-error"
          >Seleccione una sucursal
        </small>
      </div>

      <!-- Nombre -->
      <div class="field flex-column" [style]="{ width: '100%' }">
        <span class="p-float-label">
          <input
            id="float-input"
            formControlName="nombre"
            type="text"
            pInputText
          />
          <label for="float-input">Nombre cliente</label>
        </span>
        <small
          *ngIf="!validarNombre.valido && forma.controls.nombre.touched"
          class="p-error"
          style="word-wrap: break-word"
          >{{ validarNombre.mensaje }}</small
        >
      </div>

      <!-- Cedula -->
      <div class="field flex-column" [style]="{ width: '100%' }">
        <span class="p-float-label">
          <input
            id="float-input"
            formControlName="cedula"
            type="text"
            pInputText
          />
          <label for="float-input">Cedula</label>
        </span>
        <small
          *ngIf="!validarCedula.valido && forma.controls.cedula.touched"
          class="p-error"
          style="word-wrap: break-word"
          >{{ validarCedula.mensaje }}</small
        >
      </div>

      <!-- Ruc -->
      <div class="field flex-column" [style]="{ width: '100%' }">
        <span class="p-float-label">
          <input
            id="float-input"
            formControlName="ruc"
            type="text"
            pInputText
          />
          <label for="float-input">Ruc</label>
        </span>
        <small
          *ngIf="!validarRuc.valido && forma.controls.ruc.touched"
          class="p-error"
          style="word-wrap: break-word"
          >{{ validarRuc.mensaje }}</small
        >
      </div>

      <!-- Telefono -->
      <div class="field flex-column" [style]="{ width: '100%' }">
        <span class="p-float-label">
          <input
            id="float-input"
            formControlName="telefono"
            type="text"
            pInputText
          />
          <label for="float-input">Teléfono(507)</label>
        </span>
        <small
          *ngIf="!validarTelefono.valido && forma.controls.telefono.touched"
          class="p-error"
          style="word-wrap: break-word"
          >{{ validarTelefono.mensaje }}</small
        >
      </div>

      <!-- Correo -->
      <div class="field flex-column" [style]="{ width: '100%' }">
        <span class="p-float-label">
          <input
            id="float-input"
            formControlName="correo"
            type="text"
            pInputText
          />
          <label for="float-input">Correo</label>
        </span>
        <small
          *ngIf="!validarCorreo.valido && forma.controls.correo.touched"
          class="p-error"
          style="word-wrap: break-word"
          >{{ validarCorreo.mensaje }}</small
        >
      </div>

      <!-- Observacion -->
      <div
        class="field flex-column"
        [style]="{
          width: '100%',
          'grid-column': '1 / 3'
        }"
      >
        <span class="p-float-label">
          <input
            id="float-input"
            formControlName="observacion"
            type="text"
            pInputText
            style="width: 100%"
          />
          <label for="float-input">Observacion</label>
        </span>
        <small
          *ngIf="
            !validarObservacion.valido && forma.controls.observacion.touched
          "
          class="p-error"
          style="word-wrap: break-word"
          >{{ validarObservacion.mensaje }}</small
        >
      </div>
    </section>

    <!-- Estado -->
    <p-inputSwitch formControlName="estado" name="estado"></p-inputSwitch>

    <div class="btn-footer">
      <button
        pButton
        pRipple
        label="Cancelar"
        icon="pi pi-times"
        class="p-button-text"
        (click)="closeDialog()"
      ></button>
      <button
        pButton
        pRipple
        label="Guardar"
        icon="pi pi-check"
        class="p-button-text"
        (click)="btnGuardar('crear')"
      ></button>
    </div>
  </p-dialog>
</form>

<!-- DIALOG EDITAR -->
<form [formGroup]="forma">
  <p-dialog
    header="Editar cliente"
    [(visible)]="displayDialogEditar"
    [modal]="true"
    [draggable]="true"
    [resizable]="false"
    [style]="{ width: '500px' }"
    [breakpoints]="{ '530px': '95%' }"
    (onHide)="closeDialog()"
  >
    <section id="wrap-form-cliente">
      <!-- Sucursales -->
      <div class="field flex-column">
        <p-dropdown
          [style]="{ width: '100%' }"
          [options]="sucursales"
          optionLabel="nombre"
          formControlName="sucursales"
          [showClear]="true"
          placeholder="Sucursal"
        >
          ></p-dropdown
        >
        <small *ngIf="!validarSucursal.valido" class="p-error"
          >Seleccione una sucursal
        </small>
      </div>

      <!-- Nombre -->
      <div class="field flex-column" [style]="{ width: '100%' }">
        <span class="p-float-label">
          <input
            id="float-input"
            formControlName="nombre"
            type="text"
            pInputText
          />
          <label for="float-input">Nombre cliente</label>
        </span>
        <small
          *ngIf="!validarNombre.valido && forma.controls.nombre.touched"
          class="p-error"
          style="word-wrap: break-word"
          >{{ validarNombre.mensaje }}</small
        >
      </div>

      <!-- Cedula -->
      <div class="field flex-column" [style]="{ width: '100%' }">
        <span class="p-float-label">
          <input
            id="float-input"
            formControlName="cedula"
            type="text"
            pInputText
          />
          <label for="float-input">Cedula</label>
        </span>
        <small
          *ngIf="!validarCedula.valido && forma.controls.cedula.touched"
          class="p-error"
          style="word-wrap: break-word"
          >{{ validarCedula.mensaje }}</small
        >
      </div>

      <!-- Ruc -->
      <div class="field flex-column" [style]="{ width: '100%' }">
        <span class="p-float-label">
          <input
            id="float-input"
            formControlName="ruc"
            type="text"
            pInputText
          />
          <label for="float-input">Ruc</label>
        </span>
        <small
          *ngIf="!validarRuc.valido && forma.controls.ruc.touched"
          class="p-error"
          style="word-wrap: break-word"
          >{{ validarRuc.mensaje }}</small
        >
      </div>

      <!-- Telefono -->
      <div class="field flex-column" [style]="{ width: '100%' }">
        <span class="p-float-label">
          <input
            id="float-input"
            formControlName="telefono"
            type="text"
            pInputText
          />
          <label for="float-input">Teléfono(507)</label>
        </span>
        <small
          *ngIf="!validarTelefono.valido && forma.controls.telefono.touched"
          class="p-error"
          style="word-wrap: break-word"
          >{{ validarTelefono.mensaje }}</small
        >
      </div>

      <!-- Correo -->
      <div class="field flex-column" [style]="{ width: '100%' }">
        <span class="p-float-label">
          <input
            id="float-input"
            formControlName="correo"
            type="text"
            pInputText
          />
          <label for="float-input">Correo</label>
        </span>
        <small
          *ngIf="!validarCorreo.valido && forma.controls.correo.touched"
          class="p-error"
          style="word-wrap: break-word"
          >{{ validarCorreo.mensaje }}</small
        >
      </div>

      <!-- Observacion -->
      <div
        class="field flex-column"
        [style]="{
          width: '100%',
          'grid-column': '1 / 3'
        }"
      >
        <span class="p-float-label">
          <input
            id="float-input"
            formControlName="observacion"
            type="text"
            pInputText
            style="width: 100%"
          />
          <label for="float-input">Observacion</label>
        </span>
        <small
          *ngIf="
            !validarObservacion.valido && forma.controls.observacion.touched
          "
          class="p-error"
          style="word-wrap: break-word"
          >{{ validarObservacion.mensaje }}</small
        >
      </div>
    </section>

    <!-- Estado -->
    <p-inputSwitch formControlName="estado" name="estado"></p-inputSwitch>

    <div class="btn-footer">
      <button
        pButton
        pRipple
        label="Cancelar"
        icon="pi pi-times"
        class="p-button-text"
        (click)="closeDialog()"
      ></button>
      <button
        pButton
        pRipple
        label="Guardar"
        icon="pi pi-check"
        class="p-button-text"
        (click)="btnGuardar('editar')"
      ></button>
    </div>
  </p-dialog>
</form>
