<app-menu></app-menu>

<div class="container mt-5">
  <div class="row d-flex justify-content-center">
    <div class="col-md-7">
      <div class="card p-3 py-4">
        <div class="text-center">
          <img
            src="../../../../../assets/perfil-image.jpg"
            width="100"
            class="rounded-circle"
          />
        </div>

        <div class="text-center mt-4">
          <span class="bg-secondary p-1 px-4 rounded text-white">{{
            usuario?.sucursal?.nombre
          }}</span>
          <h5 class="mt-4 mb-0">
            {{ usuario?.nombre }} {{ usuario?.apellido }}
          </h5>
          <span>{{ usuario?.role?.nombre }}</span>

          <div class="buttons mt-4">
            <button class="btn btn-outline-primary px-4" (click)="showDialog()">
              Cambiar contraseña
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- DIALOG EDITAR -->
<p-dialog
  header="Cambiar contraseña"
  [(visible)]="displayDialog"
  [modal]="true"
  [draggable]="true"
  [resizable]="false"
  [style]="{ width: '500px' }"
  (onHide)="closeDialog()"
  [breakpoints]="{ '530px': '95%' }"
>
  <form id="formulario" [formGroup]="forma">
    <section id="wrap-form-perfil">
      <!-- Password  -->
      <div class="flex-column">
        <span class="p-float-label">
          <p-password
            id="float-input"
            promptLabel="Ingrese la contraseña"
            weakLabel="Débil"
            mediumLabel="Intermedio"
            strongLabel="Fuerte"
            formControlName="newPass"
          ></p-password>
          <label for="float-input">Nueva contraseña</label>
        </span>
        <small
          *ngIf="!validarNewPass.valido && forma.controls.newPass.touched"
          class="p-error"
          style="word-wrap: break-word"
          >{{ validarNewPass.mensaje }}</small
        >
      </div>

      <!-- Validar password -->
      <div class="flex-column">
        <span class="p-float-label">
          <p-password
            id="float-input"
            promptLabel="Ingrese la contraseña"
            weakLabel="Débil"
            mediumLabel="Intermedio"
            strongLabel="Fuerte"
            formControlName="oldPass"
          ></p-password>
          <label for="float-input">Confirmar contraseña</label>
        </span>
        <small
          *ngIf="!validarOldPass.valido && forma.controls.oldPass.touched"
          class="p-error"
          style="word-wrap: break-word"
          >{{ validarOldPass.mensaje }}</small
        >
      </div>

      <label style="grid-column: 1 / 3; color: tomato" for="">{{
        passIgualesLabel
      }}</label>
    </section>
  </form>

  <div id="footer">
    <button
      pButton
      pRipple
      label="Cancelar"
      icon="pi pi-times"
      class="p-button-text"
      (click)="closeDialog()"
    ></button>
    <button
      pButton
      pRipple
      label="Guardar"
      icon="pi pi-check"
      class="p-button-text"
      (click)="btnGuardar()"
    ></button>
  </div>
</p-dialog>
