@import "../../../../styles";

@media screen and(max-width: 1200px) {
  section#wrap-pedido {
    width: 95%;
  }
}

#wrap-pedido {
  // border: 1px solid red;
  margin: 25px auto;
  width: 80%;
}

.p-tabview-nav {
  grid-template-columns: repeat(auto, 1fr) !important;
}
