<app-loading></app-loading>

<!-- style="display: none" -->
<div
  class="alert alert-danger text-center animate__animated animate__fadeInDown animate__faster"
  role="alert"
  #alertWarning
>
  Hay campos inválidos
</div>

<div class="container-fluid">
  <div id="img-login" class="contenedores-login">
    <img
      src="../../../assets/design-room2.jpg"
      alt="Todo en Impresiones"
      title="Bienvenido"
    />
  </div>

  <div id="form-login" class="contenedores-login">
    <form [formGroup]="formulario" (ngSubmit)="entrar()">
      <img
        src="../../../assets/logo.png"
        alt="Todo en Impresiones - Logo"
        title="TEI"
      />
      <h6>Bienvenido</h6>
      <div id="contenedor-controls">
        <!-- Correo -->
        <div>
          <label for="email" class="form-label">Correo</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            formControlName="correo"
            placeholder="algo@algo.com"
            [ngClass]="{
              'border-danger':
                !validarCorreo && !formulario.controls.correo.pristine
            }"
          />
        </div>

        <!-- password -->
        <div>
          <label for="password" class="form-label">Contraseña</label>
          <input
            type="password"
            class="form-control"
            id="password"
            formControlName="password"
            placeholder="********"
            [ngClass]="{
              'border-danger':
                !validarPassword && !formulario.controls.password.pristine
            }"
          />

          <div id="txt-olvide-pass">
            <label class="chk-password" role="button" (click)="recuperarPass()"
              >Olvidé mi contraseña</label
            >
          </div>

          <div id="button-submit">
            <button type="submit" class="btn btn-primary">Entrar</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- DIALOG RESET PASSWORD -->
<form [formGroup]="formaResetPass">
  <p-dialog
    header="Recuperar contraseña"
    [(visible)]="displayDialog"
    [modal]="true"
    [draggable]="true"
    [resizable]="false"
    [style]="{ width: '500px' }"
    (onHide)="closeDialog()"
  >
    <section id="wrap-form-login">
      <!-- Password  -->
      <div class="field flex-column" style="width: '100%'; grid-column: 1 / 3">
        <span class="p-float-label">
          <input
            pInputText
            id="float-input"
            type="email"
            promptLabel="Ingrese su correo"
            formControlName="email"
            style="height: 40px; padding: 7px; width: 250px"
          />
          <label for="float-input">Ingrese su correo</label>
        </span>
        <small
          *ngIf="
            !validarRecuperarPass.valido &&
            formaResetPass.controls.email.touched
          "
          class="p-error"
          style="word-wrap: break-word"
          >{{ validarRecuperarPass.mensaje }}</small
        >
      </div>
    </section>

    <ng-template pTemplate="footer">
      <button
        pButton
        pRipple
        label="Cancelar"
        icon="pi pi-times"
        class="p-button-text"
        (click)="closeDialog()"
      ></button>
      <button
        pButton
        pRipple
        label="Recuperar"
        icon="pi pi-check"
        class="p-button-text"
        (click)="btnRecuperarPass()"
      ></button>
    </ng-template>
  </p-dialog>
</form>
