@import "../../../styles";
@media screen and(max-width: 992px) {
  div.container-fluid div.contenedores-login {
    width: 100%;
    border: none;
  }

  div#img-login {
    display: none;
  }

  div#form-login {
    width: 90%;
  }
}
@media screen and(max-width: 576px) {
  div#form-login {
    width: 98%;
  }
}

* {
  margin: 0;
  padding: 0;
}

.container-fluid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  // border: 1px solid red;
}

.container-fluid .contenedores-login {
  border: 1px solid darken($color: $gray, $amount: 5);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100vh;
}

#img-login {
  background-image: linear-gradient(
    to bottom right,
    rgb(238, 238, 238),
    rgb(235, 235, 237)
  );
  overflow: hidden;
}

#img-login img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.border-danger {
  border: 1px solid $danger;
}

#contenedor-controls {
  width: 100%;

  div {
    // background-color: red;
    margin: 20px 0;
    label {
      font-size: map-get($map: $map-fonts, $key: "xm");
      color: darken($color: $gray, $amount: 45);
    }
    #txt-olvide-pass {
      margin-top: 0;
      label {
        font-weight: bold;
        color: darken($color: rgb(13, 209, 236), $amount: 20);
      }
    }
    input {
      height: 40px;
      padding: 10px;
    }
  }

  #button-submit {
    // background-color: blue;
    margin-top: 50px;
    text-align: center;
    button {
      width: 200px;
      height: 40px;
      border-radius: 20px;
    }
  }
}

#form-login form {
  background-color: $white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 500px;
  padding: 25px;
  width: 400px;
  border-radius: 5px;
  box-shadow: 1px 1px 6px 7px $gray;

  img {
    width: 80px;
    object-fit: contain;
  }

  h6 {
    font-size: map-get($map: $map-fonts, $key: "smlx");
    color: darken($color: $gray, $amount: 45);
    margin-top: 25px;
  }
}

.alert-danger {
  position: absolute;
  height: 55px;
  width: 95%;
  top: 50px;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  align-items: center;
  display: none;
  z-index: 99;
}

#wrap-login {
  // border: 1px solid red;
  margin: 100px auto;
  width: 90%;
}

#wrap-form-login {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 25px 0;
  column-gap: 15px;
  row-gap: 35px;
  position: relative;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
