@import "../../../styles";

.wrap-sidebar {
  //   @extend %sidebar;
  //   z-index: 99;
  padding-top: 20px;
  // max-width: 100%;
  overflow-x: hidden;

  #logo,
  #perfil {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    margin-top: 25px;
    color: darken($color: $white, $amount: 2);
  }

  #logo > img {
    border: 3px solid rgb(10, 115, 119);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    object-fit: fill;

    // border: 1px solid red;
  }

  #perfil {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 7px;

    a {
      text-decoration: none;
      color: darken($color: $white, $amount: 2);
      font-size: map-get($map: $map-fonts, $key: "xm");
    }
  }
}

.group-items {
  border-bottom: 1px solid $border-sidebar;
  padding: 6px 0;
  height: 45px;
  transition: 0.3s all ease;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  font: {
    family: $font-family;
    weight: 200;
    size: map-get($map: $map-fonts, $key: "xm");
  }

  a {
    color: darken($color: $white, $amount: 2);
    margin-left: 20px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;

    i {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 15px;
      width: 20px;
    }

    i:last-child {
      margin-left: 15px;
    }

    span {
      width: 100px;
    }
  }

  .subs-items {
    margin-left: 60px;
  }
}

.group-items:hover {
  background-color: darken($color: $secondary, $amount: 10);
}

.subs {
  background-color: $secondary;
}

#close {
  // border: 1px solid red;
  display: none;
  font-size: 1.4rem;
  text-align: right;
  margin-right: 15px;
  color: rgb(105, 16, 0);
  cursor: pointer;
}
