<div id="wrap-loading" #loading>
  <div class="spinner-border text-primary" id="wrap-spinner" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<div id="wrap-table">
  <div id="header-busqueda" *ngIf="!roleNoPermitido">
    <div id="filtro">
      <span>Filtrar:</span>
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkPorEntregar"
          (change)="porEntregar($event)"
          #checkEntregar
        />
        <label class="form-check-label" for="checkPorEntregar">
          Por entregar
        </label>
      </div>

      <!-- <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="flexCheckDefault"
          (change)="entregadoPorEntregar('entregado', $event)"
        />
        <label class="form-check-label" for="flexCheckDefault">
          Entregado
        </label>
      </div> -->

      <!-- <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="flexCheckDefault"
        />
        <label class="form-check-label" for="flexCheckDefault">
          Cancelado
        </label>
      </div> -->
    </div>

    <div id="total-pedidos">
      <span>Total pedidos: {{ pedidos?.pedidosDB?.length || 0 }}</span>
    </div>
  </div>
  <table
    id="tabla"
    class="table table-hover table-striped table-borderless table-responsive"
  >
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Fecha</th>
        <th scope="col">Vendedor</th>
        <th scope="col">Cliente</th>
        <th scope="col" *ngIf="roleNoPermitido !== true">Teléfono</th>
        <th scope="col">Sucursal</th>
        <th scope="col" *ngIf="roleNoPermitido !== true">Total</th>
        <th scope="col" *ngIf="roleNoPermitido !== true">Saldo</th>
        <th scope="col">Prioridad</th>
        <th scope="col">Etapa</th>
        <th scope="col">Estado</th>
        <!-- select -->
        <th scope="col">Diseñador</th>
      </tr>
    </thead>

    <tbody>
      <tr
        *ngFor="let pedido of pedidos?.pedidosDB"
        (dblclick)="abrirPedido(pedido)"
        [ngClass]="{
          diseniado: pedido.estado_pedido === 1,
          correccion: pedido.estado_pedido === 2,
          aprobado: pedido.estado_pedido === 3,
          impreso: pedido.estado_pedido === 4,
          devuelto: pedido.estado_pedido === 5,
          'prod-solu': pedido.estado_pedido === 6,
          'prod-per': pedido.estado_pedido === 7,
          'foto-env': pedido.estado_pedido === 8,
          'reimpresion': pedido.estado_pedido === 9,
          'prod-completo': pedido.estado_pedido === 10,
          'laser-prod': pedido.estado_pedido === 11
        }"
      >
        <td>{{ pedido.idReferencia }}</td>
        <td>{{ pedido.fecha_alta | totalReportes: pedido.fecha_alta }}</td>
        <td>{{ pedido.IDCreador[0]?.nombre }}</td>
        <td>{{ pedido.Cliente[0]?.nombre }}</td>
        <td *ngIf="roleNoPermitido !== true">
          {{ pedido.Cliente[0]?.telefono }}
        </td>
        <td>{{ pedido.Sucursal[0]?.nombre }}</td>
        <td *ngIf="roleNoPermitido !== true">
          {{ pedido.subtotal | currency: "USD":"symbol" }}
        </td>
        <td *ngIf="roleNoPermitido !== true">
          {{ pedido.total | currency: "USD":"symbol" }}
        </td>
        <td>
          <span *ngFor="let prioridad of prioridades">
            <span *ngIf="pedido.prioridad_pedido === prioridad.importancia">
              <span *ngIf="prioridad.importancia === 0">🔥</span>
              {{ prioridad.nombre }}
              <span *ngIf="prioridad.importancia === 0">🔥</span>
            </span>
          </span>
        </td>
        <td>
          <span *ngFor="let etapa of etapas">
            <span *ngIf="pedido.etapa_pedido === etapa.id">{{
              etapa.nombre
            }}</span>
          </span>
        </td>
        <td>
          <span *ngFor="let estado of estados">
            <span *ngIf="pedido.estado_pedido === estado.id">{{
              estado.nombre
            }}</span>
          </span>
        </td>
        <td>
          {{ pedido.AsignadoA[0]?.nombre }}
          {{ pedido.AsignadoA[0]?.apellido }}
        </td>
      </tr>

      <nav
        aria-label="Page navigation"
        style="min-width: 200px; margin-top: 25px"
      >
        <ul class="pagination">
          <!-- <li class="page-item">
            <a class="page-link" (click)="paginacion(-1)"
              ><i class="fas fa-chevron-circle-left"></i
            ></a>
          </li> -->
          <!-- <li class="page-item"><a class="page-link">1</a></li> -->
          <!-- <button
            class="page-item"
            style="outline: none; border: none; box-shadow: none"
            role="button"
            (click)="paginacion(1)"
            #cargarMas
          >
            <a class="page-link"><span>Cargar más...</span> </a>
          </button> -->
        </ul>
      </nav>
    </tbody>
  </table>
</div>
