<app-loading></app-loading>
<app-menu></app-menu>

<!-- TABLA ROLES -->
<section id="wrap-role">
  <section id="wrap-header">
    <h3 style="font-weight: bold; margin-bottom: 50px">Roles</h3>
  </section>

  <section id="wrap-tabla" class="card shaddow rounded">
    <!-- toolbar -->
    <p-toolbar
      [style]="{
        'background-color': 'white',
        border: 'none',
        'margin-bottom': '25px'
      }"
    >
      <div class="p-toolbar-group-left">
        <button
          pButton
          pRipple
          label="Nuevo"
          icon="pi pi-plus"
          class="p-button-success btnHeader"
          (click)="showDialog('crear')"
          style="height: 45px"
          id="btnNuevo"
        ></button>
      </div>
    </p-toolbar>

    <!-- tabla -->
    <p-table
      #dt
      [value]="roles"
      [rows]="10"
      [paginator]="true"
      selectionMode="single"
      responsiveLayout="scroll"
      [showCurrentPageReport]="true"
      [autoLayout]="true"
      styleClass="p-datatable-striped"
      currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} Roles"
      [rowsPerPageOptions]="[10, 25, 50]"
      [resizableColumns]="true"
      [globalFilterFields]="['nombre']"
    >
      <ng-template pTemplate="caption">
        <div
          style="display: flex; justify-content: flex-end; flex-direction: row"
        >
          <span class="p-input-icon-left ml-auto">
            <i class="pi pi-search"></i>
            <input
              pInputText
              type="text"
              (input)="dt.filterGlobal($event.target.value, 'contains')"
              placeholder="Nombre"
            />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Estado</th>
          <th>Controles</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-role let-i="rowIndex">
        <tr>
          <td>{{ i + 1 }}</td>
          <td>{{ role?.nombre }}</td>
          <td>
            <span
              [ngClass]="{ 'badge-activo': role?.estado }"
              *ngIf="role?.estado"
              >Activo</span
            >
            <span
              [ngClass]="{ 'badge-inactivo': !role?.estado }"
              *ngIf="!role?.estado"
              >Inactivo</span
            >
          </td>
          <td>
            <button
              pButton
              pRipple
              icon="pi pi-pencil"
              class="p-button-rounded p-button-primary"
              style="margin-right: 7px"
              (click)="showDialog('editar', role)"
            ></button>
            <button
              pButton
              pRipple
              icon="pi pi-th-large"
              class="p-button-rounded p-button-primary"
              style="margin-right: 7px"
              (click)="showDialog('restricciones', role)"
            ></button>
            <button
              pButton
              pRipple
              icon="pi pi-trash"
              class="p-button-rounded p-button-danger"
              (click)="eliminarRole(role)"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </section>
</section>

<!-- DIALOG CREAR -->
<form [formGroup]="forma">
  <p-dialog
    header="Nuevo role"
    [(visible)]="displayDialogCrear"
    [modal]="true"
    [draggable]="true"
    [resizable]="false"
    [style]="{ width: '500px' }"
    [breakpoints]="{ '530px': '95%' }"
    (onHide)="closeDialog()"
  >
    <section id="wrap-form-role">
      <!-- Nombre -->
      <div class="field flex-column" [style]="{ width: '100%' }">
        <span class="p-float-label">
          <input
            id="float-input"
            formControlName="nombre"
            type="text"
            pInputText
          />
          <label for="float-input">Nombre role</label>
        </span>
        <small
          *ngIf="!validarNombre.valido && forma.controls.nombre.touched"
          class="p-error"
          style="word-wrap: break-word"
          >{{ validarNombre.mensaje }}</small
        >
      </div>
    </section>

    <div
      style="display: grid; grid-template-columns: repeat(2, 1fr); gap: 15px"
    >
      <!-- Vendedor -->
      <div
        style="
          box-shadow: 1px 1px 3px rgb(185, 185, 185);
          padding: 5px;
          display: flex;
          flex-direction: column;
          width: 100%;
          justify-content: center;
          align-items: center;
        "
      >
        <label for="">Vendedor</label>
        <p-inputSwitch
          formControlName="vendedor"
          name="vendedor"
        ></p-inputSwitch>
      </div>

      <!-- Diseñador -->
      <div
        style="
          box-shadow: 1px 1px 3px rgb(185, 185, 185);
          padding: 5px;
          display: flex;
          flex-direction: column;
          width: 100%;
          justify-content: center;
          align-items: center;
        "
      >
        <label for="">Diseñador</label>
        <p-inputSwitch
          formControlName="diseniador"
          name="diseniador"
        ></p-inputSwitch>
      </div>

      <!-- Estado -->
      <div
        style="
          box-shadow: 1px 1px 3px rgb(185, 185, 185);
          padding: 5px;
          display: flex;
          flex-direction: column;
          width: 100%;
          justify-content: center;
          align-items: center;
        "
      >
        <label for="">Estado</label>
        <p-inputSwitch formControlName="estado" name="estado"></p-inputSwitch>
      </div>
    </div>

    <ng-template pTemplate="footer">
      <button
        pButton
        pRipple
        label="Cancelar"
        icon="pi pi-times"
        class="p-button-text"
        (click)="closeDialog()"
      ></button>
      <button
        pButton
        pRipple
        label="Guardar"
        icon="pi pi-check"
        class="p-button-text"
        (click)="btnGuardar('crear')"
      ></button>
    </ng-template>
  </p-dialog>
</form>

<!-- DIALOG EDITAR -->
<form [formGroup]="forma">
  <p-dialog
    header="Editar role"
    [(visible)]="displayDialogEditar"
    [modal]="true"
    [draggable]="true"
    [resizable]="false"
    [style]="{ width: '500px' }"
    [breakpoints]="{ '530px': '95%' }"
  >
    <section id="wrap-form-role">
      <!-- Nombre -->
      <div class="field flex-column" [style]="{ width: '100%' }">
        <span class="p-float-label">
          <input
            id="float-input"
            formControlName="nombre"
            type="text"
            pInputText
          />
          <label for="float-input">Nombre role</label>
        </span>
        <small
          *ngIf="!validarNombre.valido && forma.controls.nombre.touched"
          class="p-error"
          style="word-wrap: break-word"
          >{{ validarNombre.mensaje }}</small
        >
      </div>
    </section>

    <div
      style="display: grid; grid-template-columns: repeat(2, 1fr); gap: 15px"
    >
      <!-- Vendedor -->
      <div
        style="
          box-shadow: 1px 1px 3px rgb(185, 185, 185);
          padding: 5px;
          display: flex;
          flex-direction: column;
          width: 100%;
          justify-content: center;
          align-items: center;
        "
      >
        <label for="">Vendedor</label>
        <p-inputSwitch
          formControlName="vendedor"
          name="vendedor"
        ></p-inputSwitch>
      </div>

      <!-- Diseñador -->
      <div
        style="
          box-shadow: 1px 1px 3px rgb(185, 185, 185);
          padding: 5px;
          display: flex;
          flex-direction: column;
          width: 100%;
          justify-content: center;
          align-items: center;
        "
      >
        <label for="">Diseñador</label>
        <p-inputSwitch
          formControlName="diseniador"
          name="diseniador"
        ></p-inputSwitch>
      </div>

      <!-- Estado -->
      <div
        style="
          box-shadow: 1px 1px 3px rgb(185, 185, 185);
          padding: 5px;
          display: flex;
          flex-direction: column;
          width: 100%;
          justify-content: center;
          align-items: center;
        "
      >
        <label for="">Estado</label>
        <p-inputSwitch formControlName="estado" name="estado"></p-inputSwitch>
      </div>
    </div>

    <ng-template pTemplate="footer">
      <button
        pButton
        pRipple
        label="Cancelar"
        icon="pi pi-times"
        class="p-button-text"
        (click)="closeDialog()"
      ></button>
      <button
        pButton
        pRipple
        label="Guardar"
        icon="pi pi-check"
        class="p-button-text"
        (click)="btnGuardar('editar')"
      ></button>
    </ng-template>
  </p-dialog>
</form>

<!-- DIALOG RESTRICCIONES -->
<form [formGroup]="formaRestricciones">
  <p-dialog
    header="Restricciones del role: {{ role?.nombre }}"
    [(visible)]="displayDialogRestriccion"
    [modal]="true"
    [draggable]="true"
    [resizable]="false"
    [style]="{ width: '500px' }"
    [breakpoints]="{ '530px': '95%' }"
  >
    <p-accordion [multiple]="true" [style]="{ width: '100%', padding: '10px' }">
      <!-- SIDEBAR -->
      <p-accordionTab header="Sidebar">
        <section class="acordeon-catalogo">
          <!-- <div>
              <label for="">Catálogo</label>
              <p-inputSwitch formControlName="catalogo"></p-inputSwitch>
            </div> -->

          <div>
            <label for="">Pedidos</label>
            <p-inputSwitch formControlName="bandeja"></p-inputSwitch>
          </div>

          <div>
            <label for="">Configuración</label>
            <p-inputSwitch formControlName="configuracion"></p-inputSwitch>
          </div>

          <div>
            <label for="">Sucursales</label>
            <p-inputSwitch formControlName="sucursales"></p-inputSwitch>
          </div>

          <div>
            <label for="">Colaboradores</label>
            <p-inputSwitch formControlName="colaboradores"></p-inputSwitch>
          </div>

          <div>
            <label for="">Clientes</label>
            <p-inputSwitch formControlName="clientes"></p-inputSwitch>
          </div>

          <div>
            <label for="">Categorias</label>
            <p-inputSwitch formControlName="categorias"></p-inputSwitch>
          </div>

          <div>
            <label for="">Productos</label>
            <p-inputSwitch formControlName="productos"></p-inputSwitch>
          </div>

          <div>
            <label for="">Roles</label>
            <p-inputSwitch formControlName="roles"></p-inputSwitch>
          </div>

          <div>
            <label for="">Origen</label>
            <p-inputSwitch formControlName="origen"></p-inputSwitch>
          </div>

          <div>
            <label for="">Prioridad</label>
            <p-inputSwitch formControlName="prioridad"></p-inputSwitch>
          </div>

          <div>
            <label for="">Etapas</label>
            <p-inputSwitch formControlName="etapas"></p-inputSwitch>
          </div>

          <div>
            <label for="">Estado</label>
            <p-inputSwitch formControlName="colores"></p-inputSwitch>
          </div>

          <div>
            <label for="">Metodos</label>
            <p-inputSwitch formControlName="metodos"></p-inputSwitch>
          </div>

          <div>
            <label for="">Modalidad</label>
            <p-inputSwitch formControlName="modalidad"></p-inputSwitch>
          </div>

          <div>
            <label for="">Tipo archivos</label>
            <p-inputSwitch formControlName="tipoArchivo"></p-inputSwitch>
          </div>
        </section>
      </p-accordionTab>

      <!-- Pedidos -->
      <p-accordionTab header="Pedidos">
        <!-- COLUMNAS -->
        <p-accordionTab header="Columnas">
          <section class="acordeon-catalogo">
            <div style="grid-template-columns: 1/3">
              <label for="">Buscador general</label>
              <p-inputSwitch formControlName="buscadorGeneral"></p-inputSwitch>
            </div>
            <div>
              <label for="">Crear pedido</label>
              <p-inputSwitch formControlName="crearPedido"></p-inputSwitch>
            </div>

            <div>
              <label for="">Borrar pedido</label>
              <p-inputSwitch formControlName="borrarPedido"></p-inputSwitch>
            </div>

            <div>
              <label for="">Ver ID</label>
              <p-inputSwitch formControlName="verID"></p-inputSwitch>
            </div>

            <div>
              <label for="">Ver fecha</label>
              <p-inputSwitch formControlName="verFecha"></p-inputSwitch>
            </div>

            <div>
              <label for="">Ver vendedor</label>
              <p-inputSwitch formControlName="verVendedor"></p-inputSwitch>
            </div>

            <div>
              <label for="">Ver cliente</label>
              <p-inputSwitch formControlName="verCliente"></p-inputSwitch>
            </div>

            <div>
              <label for="">Ver teléfono</label>
              <p-inputSwitch formControlName="verTelefono"></p-inputSwitch>
            </div>

            <div>
              <label for="">Ver sucursal</label>
              <p-inputSwitch formControlName="verSucursal"></p-inputSwitch>
            </div>

            <div>
              <label for="">Ver total</label>
              <p-inputSwitch formControlName="verTotal"></p-inputSwitch>
            </div>

            <div>
              <label for="">Ver saldo</label>
              <p-inputSwitch formControlName="verSaldo"></p-inputSwitch>
            </div>

            <div>
              <label for="">Ver prioridad</label>
              <p-inputSwitch formControlName="verPrioridad"></p-inputSwitch>
            </div>

            <div>
              <label for="">Ver etapa</label>
              <p-inputSwitch formControlName="verEtapa"></p-inputSwitch>
            </div>

            <div>
              <label for="">Ver estado</label>
              <p-inputSwitch formControlName="verEstado"></p-inputSwitch>
            </div>

            <div>
              <label for="">Ver diseñador</label>
              <p-inputSwitch formControlName="verDise"></p-inputSwitch>
            </div>
          </section>
        </p-accordionTab>

        <!-- ETAPAS -->
        <p-accordionTab header="Etapas">
          <section class="acordeon-catalogo">
            <div *ngFor="let etapa of etapas">
              <label for="">{{ etapa?.nombre }}</label>
              <p-checkbox
                [value]="etapa?._id"
                [formControl]="formaRestricciones.get('etapasSeleccionadas')"
              ></p-checkbox>
            </div>
          </section>
        </p-accordionTab>

        <!-- SUCURSALES -->
        <p-accordionTab header="Sucursales">
          <section class="acordeon-catalogo">
            <div *ngFor="let sucursal of sucursales">
              <label for="">{{ sucursal?.nombre }}</label>
              <p-checkbox
                [value]="sucursal?._id"
                [formControl]="
                  formaRestricciones.get('sucursalesSeleccionadas')
                "
              ></p-checkbox>
            </div>
          </section>
        </p-accordionTab>

        <!-- CONDICION -->
        <p-accordionTab header="Condición">
          <section class="acordeon-catalogo">
            <div>
              <label for="">Ver Propias</label>
              <p-inputSwitch formControlName="verPropias"></p-inputSwitch>
            </div>
          </section>
        </p-accordionTab>
      </p-accordionTab>

      <!-- PEDIDO -->
      <p-accordionTab header="Pedido">
        <section>
          <p-accordion
            [multiple]="true"
            [style]="{ width: '100%', padding: '10px' }"
          >
            <!-- INFORMACION -->
            <p-accordionTab header="Información">
              <section class="acordeon-catalogo">
                <div>
                  <label for="">Ver información</label>
                  <p-inputSwitch
                    formControlName="verPestaniaInfo"
                  ></p-inputSwitch>
                </div>

                <div>
                  <label for="">Ver Cliente</label>
                  <p-inputSwitch
                    formControlName="verInfoCliente"
                  ></p-inputSwitch>
                </div>

                <div>
                  <label for="">Ver teléfono</label>
                  <p-inputSwitch
                    formControlName="verInfoTelCliente"
                  ></p-inputSwitch>
                </div>

                <div>
                  <label for="">Ver Correo</label>
                  <p-inputSwitch
                    formControlName="verInfoCorreo"
                  ></p-inputSwitch>
                </div>

                <div>
                  <label for="">Editar cliente</label>
                  <p-inputSwitch
                    formControlName="verInfoEditarCliente"
                  ></p-inputSwitch>
                </div>

                <div>
                  <label for="">Editar F. Entrega</label>
                  <p-inputSwitch
                    formControlName="editarFechaEntrega"
                  ></p-inputSwitch>
                </div>
              </section>

              <p-accordionTab header="Prioridad">
                <section class="acordeon-catalogo">
                  <div style="grid-column: 1/3">
                    <label for="">Editar Prioridad</label>
                    <p-inputSwitch
                      formControlName="editarInfoPrioridad"
                    ></p-inputSwitch>
                  </div>
                  <!-- <div *ngFor="let prioridad of prioridades">
                    <label for="">{{ prioridad?.nombre }}</label>
                    <p-checkbox
                      [value]="prioridad?._id"
                      [formControl]="
                        formaRestricciones.get('prioridadesSeleccionadas')
                      "
                    ></p-checkbox>
                  </div> -->
                </section>
              </p-accordionTab>
              <p-accordionTab header="Etapa">
                <section class="acordeon-catalogo">
                  <div style="grid-column: 1/3">
                    <label for="">Editar Etapa</label>
                    <p-inputSwitch
                      formControlName="editarInfoEtapa"
                    ></p-inputSwitch>
                  </div>
                  <div *ngFor="let etapaInfo of etapasInfo">
                    <label for="">{{ etapaInfo?.nombre }}</label>
                    <p-checkbox
                      [value]="etapaInfo?._id"
                      [formControl]="
                        formaRestricciones.get('etapaInfoSeleccionadas')
                      "
                    ></p-checkbox>
                  </div>
                </section>
              </p-accordionTab>
              <p-accordionTab header="Diseñador">
                <section class="acordeon-catalogo">
                  <div>
                    <label for="">Editar Diseñador</label>
                    <p-inputSwitch
                      formControlName="editarInfoDise"
                    ></p-inputSwitch>
                  </div>
                  <div>
                    <label for="">Ver Distribución</label>
                    <p-inputSwitch
                      formControlName="verInfoDistribucion"
                    ></p-inputSwitch>
                  </div>
                  <!-- <div *ngFor="let diseniador of diseniadores">
                    <label for="">{{ diseniador?.nombre }}</label>
                    <p-checkbox
                      [value]="diseniador?._id"
                      [formControl]="
                        formaRestricciones.get('diseniadoresSeleccionados')
                      "
                    ></p-checkbox>
                  </div> -->
                </section>
              </p-accordionTab>
              <p-accordionTab header="Estado">
                <section class="acordeon-catalogo">
                  <div style="grid-column: 1/3">
                    <label for="">Editar Estado</label>
                    <p-inputSwitch
                      formControlName="editarInfoEstado"
                    ></p-inputSwitch>
                  </div>
                  <div *ngFor="let estado of estados">
                    <label for="">{{ estado?.nombre }}</label>
                    <p-checkbox
                      [value]="estado?._id"
                      [formControl]="
                        formaRestricciones.get('estadosSeleccionados')
                      "
                    ></p-checkbox>
                  </div>
                </section>
              </p-accordionTab>
              <p-accordionTab header="Origen">
                <section class="acordeon-catalogo">
                  <div style="grid-column: 1/3">
                    <label for="">Editar Origen</label>
                    <p-inputSwitch
                      formControlName="editarInfoOrigen"
                    ></p-inputSwitch>
                  </div>
                  <!-- <div *ngFor="let origen of origenes">
                    <label for="">{{ origen?.nombre }}</label>
                    <p-checkbox
                      [value]="origen?._id"
                      [formControl]="
                        formaRestricciones.get('origenesSeleccionados')
                      "
                    ></p-checkbox>
                  </div> -->
                </section>
              </p-accordionTab>
              <p-accordionTab header="Vendedor">
                <section class="acordeon-catalogo">
                  <div style="grid-column: 1/3">
                    <label for="">Editar Vendedor</label>
                    <p-inputSwitch
                      formControlName="editarInfoVendedor"
                    ></p-inputSwitch>
                  </div>
                  <!-- <div *ngFor="let vendedor of vendedores">
                    <label for="">{{ vendedor?.nombre }}</label>
                    <p-checkbox
                      [value]="vendedor?._id"
                      [formControl]="
                        formaRestricciones.get('vendedoresSeleccionados')
                      "
                    ></p-checkbox>
                  </div> -->
                </section>
              </p-accordionTab>
              <p-accordionTab header="Sucursal">
                <section class="acordeon-catalogo">
                  <div style="grid-column: 1/3">
                    <label for="">Editar Sucursal</label>
                    <p-inputSwitch
                      formControlName="editarInfoSucursal"
                    ></p-inputSwitch>
                  </div>
                  <!-- <div *ngFor="let sucursalInfo of sucursalesInfo">
                    <label for="">{{ sucursalInfo?.nombre }}</label>
                    <p-checkbox
                      [value]="sucursalInfo?._id"
                      [formControl]="
                        formaRestricciones.get('sucursalesInfoSeleccionadas')
                      "
                    ></p-checkbox>
                  </div> -->
                </section>
              </p-accordionTab>
            </p-accordionTab>

            <!-- PRODUCTO -->
            <p-accordionTab header="Producto">
              <section class="acordeon-catalogo">
                <div style="grid-column: 1 / 3">
                  <label for="">Ver productos</label>
                  <p-inputSwitch
                    formControlName="verPestaniProductos"
                  ></p-inputSwitch>
                </div>
              </section>
            </p-accordionTab>

            <!-- ARCHIVOS -->
            <p-accordionTab header="Archivos">
              <section class="acordeon-catalogo">
                <div style="grid-column: 1 / 3">
                  <label for="">Ver archivos</label>
                  <p-inputSwitch
                    formControlName="verPestaniArchivos"
                  ></p-inputSwitch>
                </div>
              </section>
            </p-accordionTab>

            <!-- SEGUIMIENTO -->
            <p-accordionTab header="Seguimiento">
              <section class="acordeon-catalogo">
                <div style="grid-column: 1 / 3">
                  <label for="">Ver seguimiento</label>
                  <p-inputSwitch
                    formControlName="verPestaniSegs"
                  ></p-inputSwitch>
                </div>
              </section>
            </p-accordionTab>

            <!-- PAGOS -->
            <p-accordionTab header="Pagos">
              <section class="acordeon-catalogo">
                <div style="grid-column: 1 / 3">
                  <label for="">Ver pagos</label>
                  <p-inputSwitch
                    formControlName="verPestaniPagos"
                  ></p-inputSwitch>
                </div>
              </section>
            </p-accordionTab>
          </p-accordion>
        </section>
      </p-accordionTab>
    </p-accordion>

    <div class="btn-footer">
      <button
        pButton
        pRipple
        label="Cancelar"
        icon="pi pi-times"
        class="p-button-text"
        (click)="closeDialog()"
      ></button>
      <button
        pButton
        pRipple
        label="Guardar"
        icon="pi pi-check"
        class="p-button-text"
        (click)="btnEditarRestricciones()"
      ></button>
    </div>
  </p-dialog>
</form>
