@import "../../../../styles.scss";

#wrap-mi-bandeja {
  margin: 25px auto;
  padding: 0 15px;
}

.fuente-blanca > td {
  color: white;
}

.no-drop {
  cursor: no-drop;
}

#filtrosGenerales {
  // border: 1px solid red;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100% !important;
}

#box-busqueda {
  // border: 1px solid blue;
  width: 200px;
  margin-left: 10px;
}
