@import "../../../styles";

#wrapper {
  // background-color: red;
  position: fixed;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#sidebar {
  background-color: $primary;
  // width: $width-sidebar;
  min-width: $width-sidebar !important;
  max-width: $width-sidebar !important;
  height: 100%;
  overflow-y: auto;
}

#dashboard {
  width: 100%;
  height: 100%;
  overflow: auto;
  position: relative;
}
