@import "../../../styles";

#wrapper {
  // background-color: red;
  position: fixed;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#sidebar {
  background-color: $primary;
  // width: $width-sidebar;
  min-width: $width-sidebar !important;
  max-width: $width-sidebar !important;
  height: 100%;
  overflow-y: auto;
}

#dashboard {
  width: 100%;
  height: 100%;
  overflow: auto;
  position: relative;
}
// #wrapper {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   display: flex;
//   flex-direction: column;
//   overflow-y: auto;
//   overflow-x: hidden;
// }

// #dashboard {
//   position: relative;

//   width: calc(100% - #{$width-sidebar});
//   left: $width-sidebar;

//   height: 100%;
//   overflow-y: auto;
// }
