<div id="wrapper">
  <div id="wrap-craeciones" class="animate__animated" #wrapCreaciones>
    <div id="wrap-head">
      <div id="head-titulo">
        <i class="fas fa-trash" style="margin-right: 30px"></i>
        <span>Eliminar Archivos</span>
      </div>
    </div>

    <div id="wrap-body">
      <form>
        <div id="body">
          <!-- Fecha de entrega -->
          <div class="ctrl-creacion">
            <label class="col-sm-2 col-form-label">F. Entrega:</label>
            <input type="date" class="form-control" />
          </div>

          <div class="ctrl-creacion">
            <label class="col-sm-2 col-form-label">F. Entrega:</label>
            <input type="date" class="form-control" />
          </div>
        </div>

        <div id="wrap-buttons-creacion">
          <button type="submit">Crear pedido</button>
        </div>
      </form>
    </div>
  </div>
</div>
